<nav>
  <ul class="menu">
    <li class="logo">
      <a routerLink='/user-dashboard'>
        <img
          src="https://creazilla-store.fra1.digitaloceanspaces.com/icons/3432298/map-icon-md.png"
          height="50"
          width="50"
          alt="Route-Logo"
        />
      </a>
    </li>

    <li routerLink="/user-dashboard">Dashboard</li>
    <li routerLink="/add-route">Add Route</li>
    <li routerLink="/my-profile">MyProfile</li>
    <li routerLink="/add-favourite">Favourites</li>
    <li routerLink="/add-review">Reviews</li>
    <li routerLink="/contact-us">Contact Us</li>
    <!-- <li routerLink="/about-us">About Us</li> -->
    <li routerLink="/login">LogOut</li>
  </ul>
</nav>



