

        .below {
            max-width: 400px;
            margin: auto;
            margin-top: 50px;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .below h3 {
            text-align: center;
            color: #007bff;
        }

        .btns {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
        }

        .loginbtn {
            text-align: center;
        }