   <div class="below">
        <h3>Details</h3>   
        <form action="" class="loginbtn">
            <label for="name"><b>Username</b></label>
            <div>
                <input type="text" placeholder="Username" name="username" id="name" class="form-control btns" required>
            </div>

            <label for="name"><b>Name</b></label>
            <div>
                <input type="text" placeholder="Name" name="myname" id="name" class="form-control btns" required>
            </div>

            <label for="Mymail"><b>Email</b></label>
            <div>
                <input type="email" placeholder="abc@gmail.com" name="mymail" id="Mymail" class="form-control btns" required>
            </div>

            <label for="name"><b>Password</b></label>
            <div>
                <input type="password" placeholder="Password" name="mypassword" id="password" class="form-control btns" required>
            </div>

            <label for="name"><b>Contact</b></label>
            <div>
                <input type="text" placeholder="Contact" name="mycontact" id="contact" class="form-control btns" required>
            </div>
            
            <div>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>

