<br><br><br>
<table class="table" border="1">
  <thead class="thead-dark">
    <tr>
    <th scope="col">User ID</th>
    <th scope="col">Username</th>
    <th scope="col">Password</th>
    <th scope="col">Name</th>
    <th scope="col">Role</th>
    <th scope="col">Email</th>
    <th scope="col">Contact</th>
    <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.userId }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.password }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.role }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.contact }}</td>
      <button class="btn btn-primary mr-3" (click)="navigateToUpdatePage(user.userId)" >Update</button>
      <button class="btn btn-danger" (click)="confirmDelete(user.userId)">Delete</button>
     </tr>

  </tbody>
</table>