<app-user-navbar></app-user-navbar>
<div class="content">
  <div class="heading">CONTACT US</div>
  <H1>Do you have any questions?</H1>
  <p>
    Real innovations and a positive customer experience are the heart of
    successful<br />
    communication. No fake services.
  </p>
</div>
<div class="main">
  <div class="container">
    <div class="img-box">
      <img
        src="https://img.freepik.com/free-vector/my-answer-concept-illustration_114360-4444.jpg?w=740&t=st=1700379838~exp=1700380438~hmac=ab160862198fe957a6395bc79858cfc99654dd3788a069a399e0f1640e1aab8f"
        alt=""
      />
    </div>
    <div>
      <label for="name" class="contact" >Name</label>
      <h2 class="contact-data">Sunita Rathod</h2>
      <br />
      <label for="contact" class="contact">Contact</label>
      <h2 class="contact-data">9322104567</h2>
      <br />
      <label for="email" class="contact">Email</label>
      <h2 class="contact-data">sunita@gmail.com</h2>
      <br/>
    </div>
  </div>
</div>
