<nav>
    <div class="logo">User Dashboard</div>
    <button class="logout-btn" (click)="logout()">LogOut</button>
</nav>
  
 <div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" [routerLink]="['/user']">
                            <i class="fas fa-home"></i> Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-route"></i> Add Route
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/my-profile']">
                            <i class="fas fa-heart"></i> My Profile
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-plus-circle"></i> Favourite
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link"[routerLink]="['/contact-us']">
                            <i class="fas fa-user"></i> ContactUs
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/blog']">
                            <i class="fas fa-sign-out-alt"></i> Blog
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/review']">
                            <i class="fas fa-sign-out-alt"></i> Review
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Main content area -->
        <main role="main" class="main-content">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h2 class="h2">Welcome To Your Dashboard!</h2>

                <div class="btn-toolbar mb-2 mb-md-0">
                    <button class="btn btn-sm btn-outline-secondary">Add Route</button>
                </div>
            </div>

        

            <!-- Your dashboard content goes here -->
            <div class="container">

                <section style="background-color: #ffffff; padding: 20px; margin-bottom: 20px;">
                    <h3>Recent Routes</h3>
                    <div class="card-deck">
                        <!-- Route Card 1 -->
                        <div class="card">
                            <a [routerLink]="['/thumbnail1']">
                                <img src="https://www.tourism-of-india.com/blog/wp-content/uploads/2018/11/gateway-of-india.jpg" class="card-img-top" alt="Route Image 1">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">Gateway of India</h5>
                                <p class="card-text">It is primarily famous for large markets, mesmerizing beaches, towering buildings, and exquisite five-star hotels.</p>

                                <!-- Star -->
                                <form action="#" method="post">
                                    <div class="rating">
                                        <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="5 stars"></label>
                                        <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="4 stars"></label>
                                        <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="3 stars"></label>
                                        <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="2 stars"></label>
                                        <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="1 star"></label>
                                    </div>
                                </form>
                            </div>
                        </div>

                            <!-- Route Card 2 -->
                            <div class="card">
                                <a [routerLink]="['/thumbnail2']">
                                    <img src="https://www.holidify.com/images/cmsuploads/compressed/144_20190423153914.jpg" class="card-img-top" alt="Route Image 2">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">Trimbakeshwar</h5>
                                    <p class="card-text">Trimbakeshwar  Temple is a religious centre having one of the twelve Jyotirlingas .</p>
                                    <!-- Star -->

                                    <form action="#" method="post">
                                        <div class="rating">
                                            <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="5 stars"></label>
                                            <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="4 stars"></label>
                                            <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="3 stars"></label>
                                            <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="2 stars"></label>
                                            <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="1 star"></label>
                                        </div>
                                        
                                    </form>
                                </div>
                            </div> 

                            <!-- Route Card 3 -->
                            <div class="card">
                                <a [routerLink]="['/thumbnail3']">
                                    <img src="https://i.pinimg.com/originals/a5/9d/94/a59d941c3dc901f8806968025e8c94e3.jpg" class="card-img-top" alt="Route Image 3">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">Kedarnath Temple</h5>
                                    <p class="card-text">The temple is part of the Char Dham Yatra, a pilgrimage circuit that also includes Badrinath, Yamunotri, and Gangotri.</p>
                                    <!-- Star -->

                                    <form action="#" method="post">
                                        <div class="rating">
                                            <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="5 stars"></label>
                                            <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="4 stars"></label>
                                            <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="3 stars"></label>
                                            <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="2 stars"></label>
                                            <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="1 star"></label>
                                        </div>
                                        
                                    </form>
                                </div>
                            </div>

                            <!-- Route Card 4 -->
                            <div class="card">
                                <a [routerLink]="['/thumbnail4']">
                                    <img src="https://www.holidify.com/images/cmsuploads/compressed/5978780222_664fb8896e_b_20190403112947_20190403113009.jpg" class="card-img-top" alt="Route Image 4">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">Deekshabhoomi</h5>
                                    <p class="card-text">Deekshabhoomi is in Nagpur, Maharashtra, a location regarded as a sacred place</p>
                                    <!-- Star -->

                                    <form action="#" method="post">
                                        <div class="rating">
                                            <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="5 stars"></label>
                                            <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="4 stars"></label>
                                            <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="3 stars"></label>
                                            <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="2 stars"></label>
                                            <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="1 star"></label>
                                        </div>
                                        
                                    </form>
                                </div>
                            </div>
                           
                        </div>
                    </section>
                    
                </div>
            </main>
        </div>
    </div>
