
<nav>
    <ul class="menu">
        <li class="logo">
            <!-- Add routerLink to navigate to admin-dashboard -->
            <a routerLink= ''>
              <img src="https://creazilla-store.fra1.digitaloceanspaces.com/icons/3432298/map-icon-md.png" height="50" width="50" alt="Route-Logo">
            </a>
          </li>
          <li class="nav-item" [routerLink]="['/blog']">
            <i class="fas fa-question-circle"></i>&nbsp; <span>Blog</span>
        </li>
        <li routerLink="/about-us">About Us</li>
        <li routerLink="/signup">SignUp</li>
        <li routerLink="/login">Login</li>

    </ul>
</nav>