<app-home-navbar></app-home-navbar>

<div class="bootstrap-wrapper">
  <div class="container">
     
      <header id="header">
          <h1 class="heading">Welcome To RouteBook</h1>
      </header>
      <br>
      <!-- Intro -->
      <div id="card" style="margin-top: -6%;">
      <article id="intro">
          <p>The key advantage of using the online Learning system is that it is well incorporated into a technologically rich world. For professional situations, the use of pen and paper is growing. Most of the work is done with email, text messages, presentation machines, computer-based development, etc.</p>
          <button routerLink="/signup">Register Yourself To Start</button>
      </article>
      <!-- Benefits -->
      
      <section class="section" class="image-container">
          <img  src="https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2023/06/google-maps-3060322.jpg?tf=3840x">
         
      </section>
      </div>
        
  </div>
</div>
<br>



              