
<nav>
    <ul class="menu">
        <li class="logo">
            <!-- Add routerLink to navigate to admin-dashboard -->
            <a routerLink="/admin-dashboard">
                <img src="https://creazilla-store.fra1.digitaloceanspaces.com/icons/3432298/map-icon-md.png" height="50" width="50" alt="Route-Logo">
            </a>
          </li>
        <li>User
            <ul class="dropdown">
                <li routerLink="/list-user">List User</li>
                <!-- <li routerLink="/create-user">Create User</li> -->
            </ul>
        </li>
        <li>Routes 
            <ul class="dropdown">
                <li routerLink="/list-routes">List Routes</li>
                <!-- <li routerLink="/add-question">Create Question</li> -->
            </ul>
        </li>
        <li>Reviews
            <ul class="dropdown">
                <li routerLink="/list-reviews">List Reviews</li>
                <!-- <li routerLink="/create-quiz">Create Reviews</li> -->
            </ul>
        </li>
        <li>Favoutites
            <ul class="dropdown">
                <li routerLink="/list-favourites">List Favoutites</li>
                <li></li>
            </ul>
        </li>
        <!-- <li routerLink="/contact-us">Contact Us</li> -->
        <!-- <li routerLink="/about-us">About Us</li> -->

        <li routerLink='/login'>LogOut</li>
    </ul>
</nav>