  <app-home-navbar></app-home-navbar>
  <section class="about-us">
    <div class="about">
      <!--<img src="girl.png" class="pic">-->
      <div class="text">
        <h2>ABOUT US</h2>
        <br><br>
        <h5><span>FULL STACK WEB DEVELOPER</span></h5>
          <p></p>"Welcome to our digital haven! I am a dedicated full-stack Java and Angular developer, 
          orchestrating seamless experiences at the intersection of technology and innovation. 
          Our Quiz App, a product of passion and precision, invites you to embark on a journey of 
          knowledge and usability. As a creator of digital symphonies, I craft not just software but 
          narratives of curiosity and discovery. Join us in exploring the artistry behind every line of 
          code, where excellence meets user delight. Step into the world of 
          limitless possibilities – your adventure in technology begins here."
        <div class="data">
        <a   routerLink="/login"  class="hire">Try Now</a>
        </div>
      </div>
    </div>
  </section>
