        <footer class="footer-section">
            <div class="footer-top">
              <div class="container">
                <div class="row">
                  <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget company-intro-widget">
                      <a href="#" class="site-logo">
                        <img src="https://creazilla-store.fra1.digitaloceanspaces.com/icons/3432298/map-icon-md.png" height="50" width="50" alt="Route-Logo">
                      </a>
                      <p>XYZ Tech Solutions
                        123 Innovation Avenue
                        Suite 567
                        Tech City, TC 54321
                        United Techland</p>
                      <ul class="company-footer-contact-list">
                        <li><i class="fas fa-phone"></i>1122334455</li>
                        <li><i class="fas fa-clock"></i>Mon - Sat 10am-7pm</li>
                      </ul>
                    </div>
                  </div><!-- first column end -->
                  <div>
                    <div >
                      <h5 class="widget-title">Popular Locations</h5>
                      <ul>
                        <li><i class="fas fa-long-arrow-alt-right"></i>India Gate</li>
                        <li><i class="fas fa-long-arrow-alt-right"></i>Tajmahal</li>
                        <li><i class="fas fa-long-arrow-alt-right"></i>Kutub-Minar</li>
                        <li><i class="fas fa-long-arrow-alt-right"></i>Hadappa</li>
                        <li><i class="fas fa-long-arrow-alt-right"></i>Kedarnath</li>
                        <li><i class="fas fa-long-arrow-alt-right"></i>kashami</li>
                      </ul>
                    </div>
                  </div><!-- second column end -->
                  <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget latest-news-widget">
                      <h5 class="widget-title">lastest news</h5>
                      <ul class="small-post-list">
                        <li>
                          <div class="small-post-item">
                            <h6 class="small-post-title">Stay tuned for more updates as we continue to enhance your journey with RouteBook! 🗺️✨
                            </h6>
                          </div>
                        </li><!-- latest news section 1 end -->
                      
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget newsletter-widget">
                      <h5 class="widget-title">Newsletter</h5>
                      <div class="footer-newsletter">
                        <p>Sign Up to Our RouteBook to Get Latest Updates & Services</p>
                        <!-- <button class="btn btn-primary" routerLink="/login">LogIn</button> -->
                      </div>
                    </div>
                  </div><!--  end -->
                </div>
              </div> 
            </div>
            
        