 <div class="Addroute">
        <header><b>Give your Feedback, please</b></header>
        <span> Give your Feedback,Please </span>
    </div>
    <div class="last">
        <h3>Contact us</h3>
        <p>Answer all the questions</p>
        <div class="form">
            <form action="">
                <div>
                    <input type="text" name="name" placeholder="Name" class="text1" required>
                </div>
                <div>
                    <input type="email" name="email" placeholder="email" class="text3" required>
                </div>
                <div>
                    <textarea name="message" cols="90" rows="10" class="text2" placeholder="Message" required></textarea>
                </div>
                <div>
                    <button type="submit" class="btn1">Send message</button>
                </div>
            </form>
        </div>
    </div>
