<app-admin-navbar></app-admin-navbar>
<br>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Review ID</th>
        <th scope="col">Rating</th>
        <th scope="col">UserId</th>
        <th scope="col">routeId</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let review of reviews">
        <td scope="row">{{ review.reviewId }}</td>
        <td>{{ review.rating }}</td>
        <td>{{ review.rating }}</td>
        <td>{{ review.rating }}</td>
          
      </tr>
    </tbody>
  </table>
  
  <!-- <p>User ID:{{review.userId}}</p>
    <p>Route ID:{{review.routeId}}</p> -->