<div class="side-menu">
    <div class="brand-name">
        <h3>Admin Dashboard</h3>
    </div>
    <ul class="nav flex-column">
        <li class="nav-item" [routerLink]="['/admin']">
            <i class="fas fa-tachometer-alt"></i>&nbsp; <span>Dashboard</span>
        </li>
    
        <li class="nav-item" [routerLink]="['/list-routes']">
            <i class="fas fa-chalkboard-teacher"></i>&nbsp;<span>List Routes</span>
        </li>
        <li class="nav-item" [routerLink]="['/list-favourites']">
            <i class="fas fa-school"></i>&nbsp;<span>List Favourites</span>
        </li>
        <li class="nav-item" [routerLink]="['/list-reviews']">
            <i class="fas fa-money-bill"></i>&nbsp;<span>List Reviews</span>
          </li>
          
        <li class="nav-item" [routerLink]="['/list-user']">
            <i class="fas fa-question-circle"></i>&nbsp; <span>List Users</span>
        </li>

        <li class="nav-item" [routerLink]="['/blog']">
            <i class="fas fa-question-circle"></i>&nbsp; <span>Blog</span>
        </li>


        <!-- <li class="nav-item" [routerLink]="['/update-user/:id']">
            <i class="fas fa-cog"></i>&nbsp;<span>My Profile</span>
        </li> -->
    </ul>
</div>
